* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

nav {
  ul {
    list-style: none;
  }
}
