@mixin link-not-style {
  a {
    text-decoration: none;
    color: inherit;
  }
}
@mixin copyright-style {
  font: {
    family: $copyright-font;
    size: 0.7em;
  }
  color: $copyright-color;
  margin: {
    bottom: $margin-bot;
    top: 0.5em;
  }
}
