@mixin link-not-style {
  a {
    text-decoration: none;
    color: inherit;
  }
}
@mixin footer-style {
  font: {
    family: $footer-font;
    size: 0.7em;
  }
  color: $footer-color;
  margin: {
    bottom: $margin-bot;
    top: 0.5em;
  }
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  @extend %flex;
}
