@import 'reset','variables','mixins','extensions';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

.page {
  letter-spacing: 0.05em;
  height: 100%;
  min-height: 100vh;
  min-width: 251px;
}

.home-page {
  display: grid;
  grid-template: "header header header" 66vh
  "nav nav nav" auto
  "footer footer footer" 34px / 1fr;
  justify-content: center;
  .header {
    background: black;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: ". logo .";

    &__logo {
      grid-area: logo;
      margin: auto 0 $margin-bot;
    }
  }

  .nav {
    grid-area: nav;
    font-family: $content-font;
    .menu {
      height: 4em;
      @include link-not-style;
      grid-area: menu;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      &__item {
        margin: $margin-bot 0;
        padding: 0 10px;
      }

      &__link {
        text-transform: uppercase;
      }
    }
  }
  .copyright {
    margin: auto 10px;
    grid-area: footer;
    justify-self: center;
  }

}

.services-page {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  @extend %flex;
  width: 100%;
  background: url("../images/background.png") no-repeat center center fixed;
  background-size: cover;

  .header {
    padding: {
      top: 4em;
      left: 2em;
      bottom: 1em;
    }
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    @extend %flex;

    &__logo {
      margin-right: 2em;
      margin-bottom: 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &__nav {
      font-family: $content-font;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;

      .menu {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        @extend %flex;

        &__item {
          position: relative;
          font-weight: bold;
          cursor: pointer;
          -webkit-transition: color 0.3s;
          transition: color 0.3s;
          padding: 0.6em 0.5em; //0.8
          line-height: 27px;
        }

        &__link {
          text-transform: uppercase;
          text-decoration: none;
          color: #949494;

          &:focus,
          &:hover {
            color: white;

            &::after,
            &::before {
              opacity: 1;
              -webkit-transform: translateY(0px);
              transform: translateY(0px);
            }
          }

          &::before {
            top: 0;
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
          }

          &::after {
            bottom: 0;
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
          }

          &::after,
          &::before {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: #fff;
            content: '';
            opacity: 0;
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
            transition: opacity 0.3s, -webkit-transform 0.3s;
            transition: opacity 0.3s, transform 0.3s;
            transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
          }
        }
      }
    }
  }

  .features-list {
    color: white;
    padding: 0 0.6em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    @extend %flex;

    &__title {
      font-style: italic;
      font-size: 2em;
      font-weight: 600;
      padding-left: 0.75em;
      padding-bottom: 0.15em;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
    }

    &__desc {
      text-transform: uppercase;
      font-weight: 200;
      padding-left: 0.75em;
      text-indent: 1em;
    }
  }
  .copyright {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    @extend %flex;
  }
}

.copyright {
  @include copyright-style;

  &__info {
    text-transform: uppercase;
  }

  &__privacy-link {
    text-transform: uppercase;
    color: inherit;
  }
}

.ui-icon.iconOpen {
  display: inline-block;
  margin-right: 0.1em;
  background: url("../images/minus.png") no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}

.ui-icon.iconClosed {
  display: inline-block;
  margin-right: 0.1em;
  background: url("../images/plus.png") no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}
