@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

nav ul {
  list-style: none;
}

.page, .home-page, .home-page .header, .home-page .nav .menu, .services-page .header, .services-page .header__nav .menu, .services-page .features-list, .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page {
  letter-spacing: 0.1em;
  height: 100%;
  min-height: 100vh;
  min-width: 176px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.home-page .header {
  height: 66vh;
  background: black;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.home-page .header__logo {
  margin-bottom: 1.5em;
}

.home-page .nav {
  font-family: "Playfair Display", sans-serif;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.home-page .nav .menu {
  height: 4em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.home-page .nav .menu a {
  text-decoration: none;
  color: inherit;
}

.home-page .nav .menu__item {
  margin: auto 1%;
}

.home-page .nav .menu__link {
  text-transform: uppercase;
}

.services-page {
  width: 100%;
  background: url("../images/background.png") no-repeat center center fixed;
  background-size: cover;
}

.services-page .header {
  padding-top: 4em;
  padding-left: 2em;
  padding-bottom: 1em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.services-page .header__logo {
  margin-right: 2em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services-page .header__nav {
  font-family: "Playfair Display", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.services-page .header__nav .menu {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.services-page .header__nav .menu__item {
  position: relative;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  padding: 0.6em 0.5em;
  line-height: 27px;
}

.services-page .header__nav .menu__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #949494;
}

.services-page .header__nav .menu__link:focus, .services-page .header__nav .menu__link:hover {
  color: white;
}

.services-page .header__nav .menu__link:focus::after, .services-page .header__nav .menu__link:focus::before, .services-page .header__nav .menu__link:hover::after, .services-page .header__nav .menu__link:hover::before {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.services-page .header__nav .menu__link::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.services-page .header__nav .menu__link::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.services-page .header__nav .menu__link::after, .services-page .header__nav .menu__link::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.services-page .features-list {
  color: white;
  padding: 0 0.6em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.services-page .features-list__title {
  font-style: italic;
  font-size: 2em;
  font-weight: 600;
  padding-left: 0.75em;
  padding-bottom: 0.15em;
  cursor: pointer;
}

.services-page .features-list__title:focus {
  outline: 0;
}

.services-page .features-list__desc {
  text-transform: uppercase;
  font-weight: 200;
  padding-left: 0.75em;
  text-indent: 1em;
}

.copyright {
  font-family: "Roboto", sans-serif;
  font-size: 0.7em;
  color: #949494;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.copyright__info {
  text-transform: uppercase;
}

.copyright__privacy-link {
  text-transform: uppercase;
  color: inherit;
}

.ui-icon.iconOpen {
  display: inline-block;
  margin-right: 0.1em;
  background: url("../images/minus.png") no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}

.ui-icon.iconClosed {
  display: inline-block;
  margin-right: 0.1em;
  background: url("../images/plus.png") no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}
